<launch>
  <arg name="config" default="base" />

  <param name="robot_description"
         command="$(find jackal_description)/scripts/env_run
                    $(find jackal_description)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find jackal_description)/urdf/jackal.urdf.xacro
                    --inorder" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="image_proc" type="image_proc" name="image_rect" ns="camera/rgb"/>

  <node pkg="topic_tools" type="relay" name="depth_registered_image" args="/camera/depth/camera_info /camera/depth_registered/camera_info"/>
  <node pkg="topic_tools" type="relay" name="depth_registered_points" args="/camera/depth/image_raw /camera/depth_registered/image_raw"/>
  <node pkg="topic_tools" type="relay" name="depth_registered_camera_info" args="/camera/depth/points /camera/depth_registered/points"/>
</launch>

